
.loadingWrapper{
    height: 70vh;
}

.articleElement {
    margin: 5vh 0 5vh 0;
}

.articleElement > .element{
    width:100%;
    display: flex;
    align-items: center;
}

.contentArea {
    cursor: pointer;
    margin: 0 0 0 3vh;
}

.listTitleArea{
    font-size: 3vh;
}

.pagination{
    text-align: center;
    padding: 2vh 0 4vh 0;
}