
#articleView{
    margin: 30px 0 0 0;
}

.titleWrapper{
    margin: 30px 0 0 0;
    position: relative;
    display: flex;
    align-items: center;
}

.loadingWrapper{
    height: 50px;
}

.titleText {
    font-size: 36px;
    display: inline-block;
}

.articleRegDateText{
    font-size: 18px;
    position: absolute;
    right: 0;
}

.createdWrapper{
    padding: 0.5vh 0 1vh 0;
    position: relative;
    border-bottom: 1px solid darkgray;
}

.modifyArticleText {
    display: inline-block;
    padding: 0 1vh 0 1vh;
}

.modifyText:hover {
    cursor: pointer;
    color: dodgerblue;
}

.goToListText {
    position: absolute;
    right: 0;
}

.goToListText:hover {
    cursor: pointer;
    color: dodgerblue;
}