
.articleElement {
    margin: 5vh 0 5vh 0;
}

.articleElement > .element{
    width:100%;
    display: flex;
    align-items: center;
    border: 1px solid red;
}

.contentArea {
    cursor: pointer;
    margin: 0 0 0 3vh;
}

.listTitleArea{
    font-size: 3vh;
}