
#articleIndex {
    margin: 0;
    padding: 0;
}

.titleText{
    margin: 0 80px 0 100px;
    display:inline-block;
    float: left;
    position: relative;
    font-weight: bold;
    top: 12px;
    outline: none;
}

.titleText:hover{
    cursor: pointer;
}

.titleText:active{
    border: none;
}

.homeLinkText {}

.userInfoText{
    position: absolute;
    right: 35px;
}

.userAvatar {
    position: relative;
    right: 10px;
}

.body{
    margin:0 auto;
    width: 1080px;
}
