
#commentEdit, #replyCommentEdit {
    display: flex;
    align-items: center;
}

#replyCommentEdit {
    margin: 0 0 0 4vh;
}

.commentElement {
    border-bottom: 1px solid gray;
}

.replyElement {
    margin: 1vh 0 1vh 3vh;

}

.commentInfoWrapper {

}

.commentEtcWrapper {
    display: flex;
}

/** 작성자 정보 **/
.createdInfo {
    display: flex;
    align-items: center;
    position: relative;
}

.nameInfo {
    padding: 0 1vh 0 1.5vh;
}

.dropDownWrapper{
    position:absolute;
    right: 1vw;
}

/** 댓글 정보 **/
.commentInfo, .replyInfo {
    font-weight: bold;
    padding: 1vh 0 1vh 1vh;
}

/** 등록 일자 **/
.registerDateInfo{
    padding: 0 0 1vh 1vh;
}

/** 좋아요 버튼 **/
.likeButton {
    margin: 0 2vh 0 0;
    display: inline;
}

.likeButton:hover {
    cursor: pointer;
}

.likeButton:active {
    color: dodgerblue;
}


/** 답글 달기 버튼 **/
.replyButton {
    margin: 0 2vh 0 2vh;
    display: inline;
}

.replyButton:hover {
    cursor: pointer;
}

.replyButton:active {
    color: dodgerblue;
}

/** 답글 보기 버튼 **/
.replyCommentShowButton {
    display: inline;
}

.replyCommentShowButton:hover {
    cursor: pointer;
}

.replyCommentShowButton:active {
    color: dodgerblue;
}