#login {
    margin: 0 auto;
    width: 960px;
    padding:140px;
    height: auto;
    text-align: center;
}

div.whiteSpaceLine {
    margin: 40px 0 40px 0;
}

/*#login > div {*/
    /*margin: 0 auto;*/
    /*width: 80vw;*/
/*}*/

/*.googleLoginButton {*/
    /*padding: 5vh 0 5vh 0;*/
    /*font-size: 3vh;*/
/*}*/
