#####################################
## [롬복 설정 파일]
## - 설명
##  아래의 어노테이션 사용 시, 컴파일때는 잡지 못하지만 런타임때는 잡아서 에러를 발생시킨다.
##
## - 사용방법
##  lombok.{해당 어노테이션}.flagUsage = { warning | error }
#####################################

## @Data
lombok.data.flagUsage= error

## @Setter
lombok.Setter.flagUsage = error

## @AllArgsConstructor
lombok.AllArgsConstructor.flagUsage = error

## @ToString
lombok.ToString.flagUsage = warning

## @RequiredArgsConstructor + @Qualifier 같이 사용할 수 있도록 가능
## https://stackoverflow.com/questions/40830548/spring-autowired-and-qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier